.box-image{
    height: 404px;
    background: rgb(178, 148, 207);
    display: flex;
    justify-content: center;
}

.box-image img{
    margin-top: 20px;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    border: 4px solid white;
}


.box-text-name{
    display: flex;
    justify-content: center;
    margin-top: 62px;
}

.box-text-name div {
    width: 475px;
}

.box-text-name h1 {
    text-align: center;
}

.box-text-name p {
    text-align: center;
    margin-top: 12px;
}
